<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!--  Case 1 -->
	<bean id="beak" class="com.isa.case1.singleton.Beak" />
	<bean id="yellowBeak" class="com.isa.case1.singleton.YellowBeak" />
	<bean id="blueBeak" name="blue" class="com.isa.case1.singleton.BlueBeak" />
	<bean id="bird" class="com.isa.case1.singleton.Bird" scope="prototype">
		<property name="beak" ref="yellowBeak"/>
	</bean>
	<!-- <bean id="bird" class="com.isa.case1.singleton.Bird">
		<property name="beak" ref="yellowBeak">
		<ref bean="yellowBeak" />
		</property>
	</bean> -->
	<bean id="bird2" class="com.isa.case1.singleton.Bird">
		<constructor-arg>
			<ref bean="blueBeak" />
		</constructor-arg>
	</bean>
</beans>