<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="yellowBeak" primary="true" class="com.isa.spring.beans.xmlconfig.prototype.YellowBeak"/>
    <bean id="blueBeak" name="blue" class="com.isa.spring.beans.xmlconfig.prototype.BlueBeak"/>
    <bean id="bird" class="com.isa.spring.beans.xmlconfig.prototype.Bird" scope="prototype">
        <constructor-arg>
            <ref bean="blueBeak"/>
        </constructor-arg>
    </bean>
</beans>